/* Oswald font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #222222;
    margin: 0 auto;
    max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a,
a:active {
    text-decoration: none;
}

a:hover {
    color: #FF3C3C;
    transition: 0.3s;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    display: block;
}

button {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__ico {
    cursor: pointer;
    display: block;
    padding: 20px;
}

.nav__list {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.nav__link {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.nav__burger {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__burger::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.nav__burger::before {
    content: '';
    width: 12px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    right: 20px;
}

/* Hero section*/

.hero {
    color: #ffffff;
    padding: 60px 20px;
    display: flex;
    height: calc(100vh - 60px);
}

.hero__vertical {
    writing-mode: vertical-rl;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.container__line {
    height: 100%;
}

.container__line::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: wheat;
    display: block;
}

.hero__content {
    display: flex;
}

.container__text {
    font-family: 'Mulish';
    font-size: 12px;
    font-weight: 500;
}

.container__statistic {
    font-family: 'Oswald';
    font-size: 48px;
    font-weight: 300;
    display: flex;
    gap: 10px;
}

.statistic__description {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
}

.hero__title {
    font-family: 'Oswald';
    font-size: 116px;
    font-weight: 300;
    text-transform: uppercase;
}

.hero__description {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.scroll__text {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
}

.hero__description {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1300px) {
    .nav__list {
        display: none;
    }

    .nav__burger {
        display: block;
    }
}