/* Oswald font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #222222;
    margin: 0 auto;
    max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #FF3C3C;
    transition: 0.3s;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    display: block;
}

button {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 60px;
    border: none;
    font-family: 'Oswald';
    font-size: 16px;
}

.button:hover {
    background-color: #FF3C3C;
    color: #222222;
    transition: 0.3s;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__ico {
    cursor: pointer;
    display: block;
    padding: 20px;
}

.nav__list {
    display: flex;
    gap: 40px;
    padding: 18px 20px;
}

.nav__link {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.nav__burger {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__burger::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.nav__burger::before {
    content: '';
    width: 12px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    right: 20px;
}

/* Hero section*/

.hero {
    color: #ffffff;
    padding: 60px 20px;
    display: flex;
    height: calc(100vh - 50px);
    gap: 38px;
}

.hero__vertical {
    writing-mode: vertical-rl;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    font-family: 'Mulish';
    font-size: 12px;
    font-weight: 500;
    padding: 2px;
}

.container__line {
    height: 100%;
}

.container__line::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: wheat;
    display: block;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 78px 0 0 20px;
}

.hero__container {
    display: flex;
    gap: 60px;
    padding: 16px 0 0 0;
}

.container__title {
    height: 218px;
    transform: rotate(180deg);
    text-align: right;
}

.container__text {
    transform: rotate(180deg);
}

.container__statistic {
    font-family: 'Oswald';
    font-size: 48px;
    font-weight: 300;
    display: flex;
    gap: 10px;
}

.statistic__description {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
}

.hero__title {
    font-family: 'Oswald';
    font-size: 116px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 132px;
}

.hero__description {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 400;
}

.hero__image-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero__image-card--small {
    justify-content: center;
}

.hero__image-card--big {
    justify-content: space-between;
}

.hero__img {
    width: 100%;
}

.image-card__description {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    width: 230px;
    text-align: end;
    display: flex;
    margin-left: auto;
    line-height: 24px;
}

.hero__scroll {
    display: flex;
    gap: 21px;
    margin-top: auto;
}

.hero__scroll:hover .scroll__arrow,
.hero__scroll:hover .scroll__arrow::after,
.hero__scroll:hover .scroll__arrow::before {
    background-color: red;
    transition: 0.3s;
}

.scroll__text {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
}

.scroll__arrow {
    align-self: center;
    background-color: #ffffff;
    width: 3px;
    height: 14px;
    position: relative;
    border-radius: 10px;
}

.scroll__arrow::after {
    content: '';
    display: block;
    width: 2px;
    height: 9px;
    background-color: #ffffff;
    rotate: 45deg;
    position: absolute;
    top: 6px;
    left: 3px;
    border-radius: 10px;
}

.scroll__arrow::before {
    content: '';
    display: block;
    width: 2px;
    height: 9px;
    background-color: #ffffff;
    rotate: -45deg;
    position: absolute;
    top: 6px;
    right: 3px;
    border-radius: 10px;
}

.hero__img--small {
    align-self: center;
    padding: 0 0 0 52px;
}

/* About section */

.about {
    padding: 60px 20px;
    background-color: #fff;
    max-width: 100%;
}

.about__content {
    color: #222222;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    gap: 40px;
    width: 100%;
    height: auto;
    max-width: 1440px;
    min-width: 300px;
}

.about__container {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.about__container:nth-child(2) {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 0px;
}

.about__container:nth-child(3) {
    gap: 40px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.about__title {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
}

.about__description {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about__img {
    width: 100%;
}

.about__container:nth-child(2) .about__img {
    padding: 0 0 54px 0;
}

/* PORTFOLIO section*/

.portfolio {
    background-color: #222222;
    padding: 60px 20px;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portfolio__text {
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.portfolio__title {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 32px;
    line-height: 40px;
}

.portfolio__description {
    font-family: 'Mulish';
    font-size: 16px;
    width: 350px;
    line-height: 26px;
}

.portfolio__slider {
    width: 100%;
    overflow: hidden;
}

.slider__wrapper {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    transform: translate(-1240px, 0px);
}

.card__wrapper {
    display: flex;
    align-items: center;
}

.card__wrapper:nth-child(4) {
    transform: translate(0px, 0px);
}

.card__wrapper:nth-child(5) {
    transform: translate(0px, 38px);
}

.card__wrapper:nth-child(6) {
    transform: translate(0px, 58px);
}

.card__wrapper:nth-child(7) {
    transform: translate(0px, -82px);
}

.card__wrapper:nth-child(8) {
    transform: translate(0px, 118px);
}

.card__wrapper--start {
    align-items: start;
}

.card__wrapper--end {
    align-items: end;
}

/*PRICE section*/

.price {
    background-color: #fff;
    padding: 176px 20px 60px 20px;
}

.price__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.price__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.price__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.price__title {
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

.price__description {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
}

.price__card {
    border: 1px solid #222222;
    width: 320px;
    height: 500px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price__card:hover {
    border: #FF3C3C 1px solid;
    transition: 0.3s;
    cursor: pointer;
}

.price__card:hover .card__button {
    background-color: #FF3C3C;
    color: #222222;
    transition: 0.3s;
    cursor: pointer;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__title {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.card__list {
    padding: 0px 0 0 11px;
}

.card__item {
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 27.5px;
}

.card__item::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #222222;
    position: absolute;
    top: 9px;
    left: -12px;
}

.card__price {
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 400;
}

.card__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__label {
    font-family: 'Mulish';
    font-size: 16px;
    font-style: italic;
}

.card__button {
    width: 272px;
    height: 60px;
    background-color: #222222;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

/* FAQ section*/
.faq {
    padding: 56px 20px;
}

.faq__content {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.faq__container {
    font-family: 'Oswald';
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.faq__title {
    text-transform: uppercase;
}

.faq__description {
    font-family: 'Mulish';
    font-size: 16px;
}

.answer__container {
    width: 50%;
    padding: 0px 0px 0px 20px;
}

.answer__title {
    font-family: 'Oswald';
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    padding: 20px 0;
}

.answer__title::after {
    content: '';
    display: block;
    position: absolute;
    width: 15.5px;
    height: 1.5px;
    background-color: #ffffff;
    top: 34px;
    right: 4px;
    cursor: pointer;
}

.answer__description {
    font-family: 'Mulish';
    font-size: 16px;
    width: 98%;
    padding: 0px 0 20px 0;
    line-height: 23px;
}

.answer__list {
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 18px;
    line-height: 27px;
}

.answer__item {
    position: relative;
}

.answer__item::after {
    content: '';
    display: block;
    position: absolute;
    width: 15.5px;
    height: 1.5px;
    background-color: #ffffff;
    top: 12px;
    right: 3px;
    cursor: pointer;
}

.answer__item::before {
    content: '';
    display: block;
    position: absolute;
    width: 15.5px;
    height: 1.5px;
    background-color: #ffffff;
    top: 12px;
    right: 3px;
    cursor: pointer;
    rotate: 90deg;
}

.answer__line {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

/* FOOTER section*/
.footer {
    padding: 1px 0px;
    background-color: #222222;
}

.footer__content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__title {
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0 0 0;
}

.footer__container {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0 0 20px 0;
    font-family: 'Oswald';
    font-size: 16px;
    padding: 0 20px 20px;
}

.footer__input {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    width: 380px;
    height: 60px;
    font-size: 16px;
    padding: 1px 0px 0px 9px;
    font-family: 'Oswald';
}

.footer__input::placeholder {
    color: #989898;
    text-transform: uppercase;
}

.footer__input:hover {
    border: #FF3C3C 1px solid;
    transition: 0.3s;
}

.footer__button {
    width: 200px;
    height: 60px;
    background-color: #222222;
    color: #ffffff;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.footer__list {
    font-family: 'Oswald';
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 38px;
}

.footer__item {
    cursor: pointer;
}

@media (max-width: 1380px) {
    .hero__image-card--small {
        display: none;
    }

    .price__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 1300px) {
    .nav__list {
        display: none;
    }

    .nav__burger {
        display: block;
    }
}

@media (max-width: 1107px) {
    .hero {
        gap: 34px;
    }

    .hero__vertical {
        height: 98%;
    }

    .hero__content {
        gap: 32px;
        padding: 93px 0 0 40px;
    }

    .hero__container {
        padding: 0 27px 0px 0px;
    }

    .hero__title {
        font-size: 68px;
        line-height: 82px;
        padding: 10px 0px 0 36px;
    }

    .hero__description {
        padding: 0px 60px 0 0px;
    }

    .hero__scroll {
        padding: 132px 256px 0px 0;
        margin-top: 0;
    }

    .hero__image-card {
        width: 30%;
        justify-content: start;
    }

    .image-card__description {
        padding: 272px 10px 0 0;
    }

    /* ABOUT section*/
    .about {
        padding: 40px 20px;
    }

    .about__content {
        grid: auto-flow / 1fr;
    }

    .about__container:nth-child(2) {
        gap: 40px;
    }

    .about__container:nth-child(2) .about__img {
        padding: 0;
    }

    .about__container:nth-child(3)>.about__img {
        display: none;
    }

    /* PORTFOLIO section*/
    .portfolio {
        padding: 82px 20px;
    }

    .card__wrapper:nth-child(4) {
        transform: translate(-120px, 0px);
    }

    .card__wrapper:nth-child(5) {
        transform: translate(-336px, 39px);
    }

    .card__wrapper:nth-child(6) {
        transform: translate(-336px, 59px);
    }

    .card__wrapper:nth-child(7) {
        transform: translate(-336px, -81px);
    }

    .card__wrapper:nth-child(8) {
        transform: translate(-336px, 119px);
    }
}

@media (max-width: 850px) {
    .faq__content {
        flex-direction: column;
        gap: 37px;
    }

    .faq__container {
        padding: 0 20px;
    }

    .answer__container {
        width: 100%;
    }
}

@media (max-width: 775px) {
    .hero__content {
        width: 58%;
        justify-content: center;
        align-items: center;
        padding: 75px 0 0 0;
    }

    .price {
        padding: 152px 20px 60px 20px;
    }

    .price__container {
        padding: 0px 33px;
    }

    .faq {
        padding: 59px 0px;
    }

    .answer__title::after {
        top: 34px;
        right: 25px;
    }

    .answer__item::before {
        right: 24px;
    }

    .answer__item::after {
        right: 24px;
    }

    .answer__line {
        width: 97%;
    }

    .footer__content {
        gap: 17px;
    }

    .footer__container {
        padding: 0 20px 20px;
    }

    .footer__input {
        padding: 0px 0px 0px 9px;
        width: 35%;
    }
}

@media (max-width: 745px) {
    .hero__vertical {
        display: none;
    }

    .hero__title {
        font-size: 56px;
    }

    .price__container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

@media (max-width: 615px) {
    .hero {
        flex-direction: column;
        padding: 52px 20px;
        gap: 20px;
    }

    .hero__content {
        padding: 0;
    }

    .hero__scroll {
        display: none;
    }

    .hero__image-card {
        gap: 60px;
    }

    .about {
        padding: 64px 20px;
    }

    .image-card__description {
        padding: 0;
    }

    .portfolio {
        padding: 54px 20px;
    }

    .card__wrapper:nth-child(5) {
        transform: translate(-456px, 39px);
    }

    .card__wrapper:nth-child(6) {
        transform: translate(-530px, 59px);
    }

    .card__wrapper:nth-child(7) {
        transform: translate(-530px, -81px);
    }

    .footer__title {
        padding: 39px 0 0 0;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__input {
        width: 100%;
    }

    .footer__button {
        width: 100%;
    }

    .footer__list {
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }
}

@media (max-width: 420px) {
    .hero {
        height: calc(100vh + 60px);
    }

    .hero__content {
        width: 100%;
        gap: 35px;
    }

    .hero__container {
        display: flex;
        gap: 53px;
        padding: 0 0px 0 0px;
    }

    .hero__image-card {
        width: 65%;
        align-self: end;
        gap: 58px;
    }

    .statistic__description {
        width: 116px;
    }

    .hero__title {
        line-height: 65px;
        padding: 8px 0px 0px 0px;
    }

    .hero__description {
        padding: 1px 30px 0 0;
    }

    .image-card__description {
        padding: 0 11px 0 0px;
    }

    .portfolio__description {
        width: 315px;
    }

    .price {
        padding: 180px 20px 59px 20px;
    }

    .price__content {
        gap: 45px;
    }

    .price__container {
        padding: 0px 10px;
    }

    .faq__content {
        gap: 40px;
    }

    .faq__container {
        gap: 16px;
    }

    .faq__title {
        line-height: 40px;
    }

    .faq__description {
        line-height: 22px;
    }

    .answer__title {
        padding: 18px 0;
    }

    .answer__description {
        line-height: 24px;
    }

    .answer__line {
        width: 95%;
    }
}